<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Expense</title>
</head>
<body>
    <!-- header -->
    <!-- add new expenses -->
    <form action="/<%= userId %>/expense/add" method="post">
    
        <h3>Amount:</h3>
        <input type="text" name="cash" value="">
        <h3>Note:</h3>
        <input type="text" name="note" value="">
        <h3>Category:</h3>
        <select name="categoryId" id="">
            <% cat.forEach(item=> { %>
            <option value="<%= item.id %>">
                <%= item.categoryName %>
            </option>
            <% }) %>
        </select><br><br>
        <button type="submit">Add</button>
    </form>
    
</body>
</html>