<!DOCTYPE html>
<html lang="en">
<%- include('header',{}) %>
<body>
    <% exp.forEach (e => { %>
        <p><%= e %></p>
    <% }) %>
    <canvas id="myChart" width="400" height="400"></canvas>
    <%- include('diagram',{exp:exp}) %>
</body>
</html>