<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
</head>
<body>
    <div class="homepage">
        <h1 class="hometext">EXPENSE TRACKER</h1>
        <img class="piggy" src="gif/saving animated-378_350.gif">
        <br>
        <button class="homebtn">Register</button>
        <button class="homebtn">Login</button>
    </div>
</body>
</html>