<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Users</title>
</head>
<body>
    <!-- list of expense -->
  <br>
    <table border="1">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Password</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                <% user.forEach(item => { %>
                <tr>
                    <td><%=item.userName%></td>
                    <td><%=item.password%></td>
                    <td><%=item.email%></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
</body>
</html>